version: '3.4'
services:
  db:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    env_file:
      - ./env/db.env
  flyway:
    image: flyway/flyway
    command: -configFiles=conf/flyway.conf migrate
    volumes:
      - ./flyway/sql:/flyway/sql
      - ./flyway/conf:/flyway/conf
    depends_on:
      - db
