version: '3.4'
services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    volumes:
      - ./client/src:/usr/src/app/src
      - ./client/public:/usr/src/app/public
  api:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - '8000:8000'
    volumes:
      - ./server/src:/usr/src/app/src
  db:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    env_file:
      - ./env/db.env
  flyway:
    image: flyway/flyway
    restart: on-failure
    command: -configFiles=conf/flyway.conf migrate
    volumes:
      - ./flyway/sql:/flyway/sql
      - ./flyway/conf:/flyway/conf
    depends_on:
      - db
